<ion-header [translucent]="true">
  <ion-toolbar>
 <ion-item color="primary" >
    <ion-icon name="clipboard-outline"></ion-icon>
    <ion-label>Datos personales </ion-label>
  </ion-item>
  </ion-toolbar>
</ion-header>

<!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-chip>
      <ion-avatar>
        <img src="https://picsum.photos/seed/picsum/200/100">
      </ion-avatar>
      <ion-label>Nombre</ion-label>
    </ion-chip>
    <ion-label>Luis Enrique</ion-label>
  </ion-item>
  <ion-item>
    <ion-chip>
      <ion-avatar>
        <img src="https://picsum.photos/seed/picsum/200/100">
      </ion-avatar>
      <ion-label>Apellido</ion-label>
    </ion-chip>
   
    <ion-label> Luis Ortiz</ion-label>
  </ion-item>
  <ion-item>
    <ion-chip>
      <ion-avatar>
        <img src="https://picsum.photos/seed/picsum/200/100">
      </ion-avatar>
      <ion-label>Cédula</ion-label>
    </ion-chip>
       <ion-label>1721473089</ion-label>
  </ion-item>
  <ion-item>
    
    <ion-label>Nacionalidad : Ecuatotiano</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>mail: luisortizuio1@gmail.com</ion-label>
  </ion-item>
</ion-list>

<!-- List of Input Items -->
<ion-list>
  <ion-item>
    <ion-label>Disponibilidad</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Inmediata</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Disponibilidad de viajar</ion-label>
    <ion-radio slot="end"></ion-radio>
  </ion-item>
 
</ion-list>

